@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');


/* VARIABLES DE COLOR */
:root{
    --banner-primary: #46B2B5;
    --background-color: #f9f5f0;
    --dark-color: #151515;
    --text-color: #ffffff;
    --hover: #F3906B; 
}


/* GENERAL */
html {
    font-size: 87.5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 700rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 12px;
}

.section-m1 {
    margin: 40px 0;
}

.contenedor-general {
    background-color: var(--banner-primary);
    z-index: 0;
    max-width: 200px;
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--dark-color);
}
/* FIN DE GENERAL */

/* ----MENU----- */
/* MENU */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  #navbar {
    display: none;
  }
  
  #header img {
    height: 50px;
    border-radius: 40px;
    max-width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    #navbar {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #navbar li {
      padding: 0 20px;
      position: relative;
    }
  
    #navbar li a {
      font-size: 18px;
      font-weight: 600;
      color: var(--dark-color);
      transition: 0.3s ease;
    }
  
    #navbar li a:hover,
    #navbar li a:active {
      color: var(--hover);
    }
  
    #navbar li a.active::after {
      content: "";
      width: 20%;
      height: 2px;
      background-color: var(--dark-color);
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  
    #header img {
      height: 70px;
      border-radius: 40px;
    }
  
    #navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    #navbar li {
      padding: 0 20px;
    }
    
    #navbar li:last-child {
      padding-right: 0;
    }
  
    #header img {
      height: 50px;
    }
  }

/* FIN MENU */
/* ---MENU--- */



/* ----BANNER 1---- */
/* BANNER PRINCIPAL */
.banner {
    background-image:
        url("../img/banner.png");
    height: 57rem;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}


.contenedor-banner {
    max-width: 40rem;
    padding: 25rem 0;
}

.contenedor-banner p {
    color: var(--banner-primary);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.contenedor-banner h2 {
    color: var(--dark-color);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.contenedor-banner a {
    margin-top: 2rem;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--dark-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
/* BANNER PRINCIPAL */
/* ------BANNER 1------ */



/* ----PRODUCTOS */
/* CONTENIDO DE PRODUCTOS */

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 10px 30px;
}

.tarjeta-productos {
    padding: 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}

.contenedor-img {
    position: relative;
    padding: 20px 20px;
    border-radius: 10px;
}

.contenedor-img img {
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 4px 40px ;
    margin: 10px;
}

.contenedor-tarjeta-productos {
    display: grid;
    justify-items: center;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2rem;
}
/* FIN DE PRODUCTOS */
/* ----PRODUCTOS---- */





/* ----INFO--- */
/* INFO DE PAGINA */
.container-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: var(--text-color);
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i {
    font-size: 2.7rem;
    color: var(--banner-primary);
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.feature-content p {
    color: var(--dark-color);
    font-weight: 500;
}
/* FIN DE INFO DE PAGINA */
/* ---INFO--- */


/* ---FOOTER--- */
/* FOOTER DE DERECHOS DE AUTOR */
.footer{
    background-color: var(--banner-primary);
    height: 50px;
}

.footer .copyright{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12px;
    font-weight: 700;
}

.footer p{
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    margin-top: 12px;
}
/* FIN DE FOOTER DE DERECHOS DE AUTOR */
/* ---FOOTER--- */







/* RESPONSIVES */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .fa-bars {
        display: block;
        color: var(--text-color);
        font-size: 3rem;
    }

    .menu {
        display: none;
    }

    .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }

    .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature {
        padding: 2rem;
    }

    .heading-1 {
        font-size: 2.4rem;
    }

    .card-category {
        height: 12rem;
    }

    .card-category p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span {
        font-size: 1.4rem;
    }

    .container-options {
        align-items: center;
    }

    .container-options span {
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .gallery {
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;

        height: 52rem;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Menu responsive */
@media (max-width: 767px) {
    #header {
        padding: 10px 20px;
    }
    
    #navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--text-color);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    #navbar li {
        padding: 10px 20px;
        border-bottom: 1px solid var(--background-color);
    }
    
    #navbar li:last-child {
        border-bottom: none;
    }
    
    #navbar li a {
        font-size: 16px;
        font-weight: 500;
        color: #060505;
        transition: 0.3s ease;
    }
    
    #navbar li a.active::after {
        display: none;
    }
    
    #header img {
        height: 50px;
    }
    
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    
    #menu-icon img {
        height: 30px;
    }
}

.show {
    display: flex;
}