@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');

:root {
    --primary-color: #46B2B5;
    --background-color: #f9f5f0;
    --dark-color: #151515;
    --text-color: #ffffff;
}

/* ----GENERAL---- */
/* GENERAL */
html {
    font-size: 87.5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIN DE GENERAL */
/* ----GENERAL---- */




/* -----MENU--- */
/* MENU */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    position: sticky;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    color:#060505;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: #46B2B5;
}


#navbar li a.active::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #060505;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#header img {
    height: 70px;
    border-radius: 40px;
}
/* FIN MENU */
/* ----MENU--- */



/* ------BANNER 1----- */
/* BANNER DE TITULO */
#page-header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 14px 14px;
    margin-top: 12px;
    background-color: #46B2B5;
}




/* FIN DE BANNER CON TITULO Y FOTO */
/* -----FIN BANNER 1---- */




/* ------PRODUCTOS------ */
/* CONTENIDO DE PRODUCTOS */




.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 10px 30px;
}

.tarjeta-productos {
    padding: 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}

.contenedor-img {
    position: relative;
    padding: 20px 20px;
    border-radius: 10px;
}

.contenedor-img img {
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 4px 40px ;
    margin: 10px;
}

.contenedor-tarjeta-productos {
    display: grid;
    justify-items: center;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 2rem;
}
/* FIN DE IMAGENES */







/* ------BANNER 2----- */
/* BANNER DE PROMOCIONES */
#prom-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("../img/Bombastic.png");
    width: 100%;
    height: 40vh;
    background-position: center;
}

#prom-banner h4 {
    color: #060505;
    font-size: 16px;
}

#prom-banner h2 {
    color: #060505;
    font-size: 30px;
    padding: 16px 0;
}

#prom-banner h2 span {
    color: #ffffff;
}


/* BANNER DE PROMOCIONES */
/* ------FIN DE BANNER 2----- */




/* -----INFO DE PAGINA---- */
/* INFO DE PAGINA */
.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #46B2B5;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i {
    font-size: 2.7rem;
    color: #151515;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: #151515;
}

.feature-content p {
    color: #151515;
    font-weight: 500;
}
/* FIN DE INFO DE PAGINA */
/* ------INFO DE PAGINA---- */



/* ----------FOOTER--------- */
/* FOOTER DE DERECHOS DE AUTOR */
.footer{
    background-color: #46B2B5;
    height: 20px;
}

.footer .copyright{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer p{
    font-size: 14px;
    font-weight: 600;
}
/* FIN DE FOOTER DE DERECHOS DE AUTOR */
/* ---------FIN DE FOOTER------ */