<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="/" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="/img/logo.png">
                </div>
            </a>
            <a href="/" class="simple-text logo-normal">NOUS</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <p>LISTA DE PRODUCTOS</p>
                    </a>
                </li>
                <li>
                    <a href="../dash/exit">
                        <span>Salir</span>
                    </a>
                </li>
                <li>
                    <a id="create">Crear producto</a>
                </li>
                <li>
                    <a id="exportPdfButton" onclick="window.location.href = '/dash/pdf'">Generar reporte PDF</a> 
                </li>
                <li>
                    <a id="exportExcelButton" onclick="window.location.href = '/dash/excel'">Generar reporte Excel</a>
                </li>
            </ul>
        </div>
    </div>