<!-- Definir el encabezado de la página -->
<head>
    <!-- Definir la codificación de caracteres y la compatibilidad con IE -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Definir la escala inicial del viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mostrar el título de la página, que es una variable definida en el archivo de controlador -->
    <title> <%= titulo %> </title>
    <!-- Definir el ícono de la página -->
    <link rel="shortcut icon" href="img/icon.png">
    <!-- Incluir hojas de estilo CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/modal-page.css">
    <link rel="stylesheet" href="css/producto-page.css">
    <!-- Incluir hojas de estilo CSS de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>